
.main-frame {
  display: flex;
  margin-top: 71px;
}
.third-main-frame {
  display: flex;
  margin-top: 11px;
}
.margin-center {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.second-margin-center {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.flip-card {
  margin: 5px;
  background-color: transparent;
  width: 191px;
  height: 191px;
  perspective: 1000px;
  border: 1px solid bisque;
  border-radius: 7px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  border: 1px solid rgb(51, 34, 14);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: rgb(255, 255, 255);
  font-family: cursive;
  font-size: 19px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flip-card-back {
  background-color: #93b929;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: rgb(34, 33, 33);
  transform: rotateY(180deg);
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.text-center {
  text-align: center;
}
.text-pointer {
  cursor: pointer;
}
.text-pointer:hover {
  color: rgba(77, 17, 17);
}


.question-text-row {
  font-size: 31px;
  font-family: cursive;
  margin-top: 31px;
}

.centeline-isolation {
  width: 71%;
  text-align: center;
  margin: 0 auto;
}

.surprise-text {
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 31px;
  margin-top: 51px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
.surprise-text:hover {
  color: brown;
}