
.main-frame {
  margin-top: 71px;
}
.jedes-linie-gesprach {
  margin: 0 auto;
  height: 31px;
  width: 71%;
}
.jedes-linie-gesprach-inhalt {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid rgb(255, 170, 0); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .3em; /* Adjust as needed */
  animation: 
    typing 5.1s steps(31, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:  rgb(255, 170, 0); }
}
.jedes-linie-gesprach-font {
  letter-spacing: .3em;
  height: 37px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
}


.antwort-frame {
  width: 71%;
  margin: 0 auto;
}
.antwort-defult-text {
  overflow: hidden;
  white-space: nowrap;
  height: 31px;
  letter-spacing: .1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: 200;
  color: darkmagenta;
  animation: frage 13s steps(31, end);
}
@keyframes frage {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.player-frame {
  width: 71%;
  margin: 0 auto;
}
.player-center {
  width: 100%;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.text-pointer {
  cursor: pointer;
}
.text-pointer:hover {
  color: rgb(119, 65, 65);
}



.centeline-isolation {
  font-weight: 200;
  width: 71%;
  text-align: center;
  margin: 0 auto;
}
